body {
    background-image: url("../images/background.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color:#198754;
    font-weight:bold;
}